<settings>
    <mirrors>
        <mirror>
            <id>maven-central</id>
            <url>https://repo1.maven.org/maven2</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
        <mirror>
            <id>redhat-ga</id>
            <url>https://maven.repository.redhat.com/ga</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
        <mirror>
            <id>redhat-ea</id>
            <url>https://maven.repository.redhat.com/earlyaccess/all</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
</settings>